<!doctype html>
<html>
<head>
    <title>Simple Calculator</title>
</head>


<body ng-app="sharp">

<div>
    Run 3
</div>

<div class="container">
    <h1>Simple Calculator</h1>
    <div ng-controller="ExampleController">
        <form novalidate  class="simple-form">
            <label>Param A: <input name="paramA" id="paramA" type="number" ng-model="user.paramA" /></label><br/>
            Operation:
            <select name="oper" id="oper" >
                <option value="add">+</option>
                <option value="subtract">-</option>
                <option value="multiply">*</option>
                <option value="divide">/</option>
            </select>
            <br />
            <label>Param A: <input name="paramB" id="paramB" type="number" ng-model="user.paramB" /></label><br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save" />
        </form>
        <pre>user = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
    </div>

    <script>
        angular.module('formExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.master = {};

                $scope.update = function(user) {
                    $scope.master = angular.copy(user);
                };

                $scope.reset = function() {
                    $scope.calc = angular.copy($scope.resetData);
                };

                $scope.reset();
            }]);
    </script>

</div>

</body>
</html>